
{%- include functions.html func='get_banner' -%}

{%- include functions.html func='log' level='debug' msg='Get header_transparent value' -%}
{%- assign name = 'header_transparent' -%}
{%- include functions.html func='get_value' default=true -%}
{%- assign header_transparent = return -%}

{%- if has_banner and header_transparent -%}
  {%- assign header_transparent_class = "site-header-transparent" -%}
{%- endif -%}

<header class="site-header">
    <div class="site-header-inner">
        <a class="site-title" href="{{ site.baseurl }}/">
          <h6>
            Generative Computing
          </h6>
        </a>
    </div>
</header>

<script>
  function initHeader() {
    var lastScrollY = getScrollPos().y;
    var documentElement = document.documentElement;

    function storeScrollData() {
      var y = getScrollPos().y;

      {%- if banner and header_transparent -%}
      documentElement.setAttribute("data-header-transparent", "");
      {%- endif -%}

      var scrollStatus = "";

      if (y <= 48) {
        scrollStatus = "top";
      } else if ((window.innerHeight + y) >= document.body.offsetHeight) {
        scrollStatus = "bottom";
      } else {
        var isScrollDown = (y - lastScrollY > 0) ? true : false;
        scrollStatus = isScrollDown ? "down" : "up";
      }

      lastScrollY = y;
      documentElement.setAttribute("data-scroll-status", scrollStatus);
    }

    window.addEventListener('scroll', function(e) {
      storeScrollData();
    });

    storeScrollData();
  }
  document.addEventListener('DOMContentLoaded', initHeader);
</script>
