---
---
/*

$content-width: {{ site.content_width | default: '58rem' }};

// Define defaults for each variable.
$base-font-family: 'IBM Plex Serif', 'Georgia', Times, serif;

$text-color:       #000000 !default;
$background-color: #fff !default;

$grey-color:       #777 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$white-color: #fdfdfd !default;

$header-height: 48px !default;
$header-text-color: $text-color !default;
$header-background-color: $background-color !default;

$footer-height: $header-height * 1.05 !default;
$footer-background-color: $background-color !default;

$banner-height: 640px !default;
$banner-text-color: lighten($white-color, 0%) !default;
$banner-background: rgba(0,0,0,0.8) !default;

@import "../../_sass/yat/base",
"../../_sass/yat/layout",
"../../_sass/misc/article-menu",
"../../_sass/misc/common-list";

@import "../../_sass/base";

*/
