---
layout: base
sidebar:
- article-menu
banner:
  heading_style: h2
---

<div class="post">
    <section>

        {%- assign name = 'banner' -%}
        {%- include functions.html func='get_value' -%}
        {%- assign banner = return -%}

        {%- include views/article.html -%}

    </section>
</div>


<script>
    function changeFooter() {
        var footer = document.querySelector('.footnotes')
        footer.innerHTML = '<div class="footer-background"></div><h4 class="footnote-title">References</h4>' + footer.innerHTML
    }
    changeFooter();
</script>